<script>
function selCouChanged() {
	cou_id = $('#selCou').val();
	//res = jQuery.ajax('/managem/api/clubs/find?tea_cou_id=' + cou_id );
	$.ajax({
		url: '/managem/api/clubs/find?tea_cou_id=' + cou_id ,
		success: function(data) {
			$('#selTeam >option').remove();
			for( i=0; i<data.length; i++) {
				$('#selTeam').append($("<option></option>").attr("value",data[i][0]).text(data[i][1])); 
				$('#divclub').show();
			}
		}
	});
}
</script>
<div class="container">
<h1>Nouvelle partie</h1>
<p>
<form class="form-horizontal" action='/managem/game/new' method=post>
  <fieldset>
    <legend>Entraineur</legend>

    <div class="control-group">
      <label class="control-label" for="input01">Nom</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='lastname'>
        <p class="help-block">Nom de l'entraineur</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Prenom</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='firstname'>
        <p class="help-block">Prenom de l'entraineur</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Date de naissance</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='birthday'>
        <p class="help-block">Date de naissance de l'entraineur au format YYYY-MM-DD</p>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Club</legend>

<div class="control-group">
    <label class="control-label" for="selCou">Pays</label>
    <div class="controls">
              <select id="selCou" name='cou_id' onChange="selCouChanged()">
			<option value=0>Choisir un pays...</option>
		<% @countries.each { |country| %>
			<option value='<%= country.getId %>'><%= country.getName %></option>"
		<% } %>
              </select>
		<p class="help-block">Choisir un pays</p>
    </div>
</div>
<div class="control-group" id="divclub" style="display: none">
    <label class="control-label" for="selTeam">Club</label>
    <div class="controls">
              <select id="selTeam" name='tea_id'>
              </select>
		<p class="help-block">Club a entrainer</p>
    </div>
</div>

    <legend>Partie</legend>

    <div class="control-group" id="divdebug" >
      <label class="control-label" for="input01">Identifiant</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='ident'>
        <p class="help-block">Identifint de la partie</p>
      </div>
    </div>

 <div class="form-actions">
            <button type="submit" class="btn btn-primary">Commencer la partie</button>
          </div>

</form>
</div>
