<h1>Nouvelle partie</h1>
<p>
<form class="form-horizontal" action='/managem/new' method=post>
  <fieldset>
    <legend>Entraineur</legend>

    <div class="control-group">
      <label class="control-label" for="input01">Nom</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='lastname'>
        <p class="help-block">Nom de l'entraineur</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Prenom</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='firstname'>
        <p class="help-block">Prenom de l'entraineur</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Date de naissance</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='birthday'>
        <p class="help-block">Date de naissance de l'entraineur au format YYYY-MM-DD</p>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Partie</legend>

    <div class="control-group">
      <label class="control-label" for="input01">Identifiant</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name='ident'>
        <p class="help-block">Identifint de la partie</p>
      </div>
    </div>

 <div class="form-actions">
            <button type="submit" class="btn btn-primary">Commencer la partie</button>
          </div>

</form>
