
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">

<ul class="nav nav-list">
  <li class="nav-header">
    List header
  </li>
  <li class="active">
    <a href="/managem">Home</a>
  </li>
  <li>
    <a href="/managem/game/quit">Quit</a>
  </li>
</ul>

</div>
</div>

<div class="span10">
<h1><%= @game.getDate %> <small><%= @game.getName %></small></h1>

</div>
</div>
</div>
